body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contact{
  display: flex ;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3%;
}

form{
  padding: 8%;
}
.favButton{
  background-color: lightblue;
  border-radius: 5%;
  margin: 3%;
  padding: 10px;
  border: none;
  width: 95%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  background-color: lightblue;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}
nav button{
  background-color: lightcyan;
  border-radius: 10%;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
nav button:hover{
  color: rgb(136, 136, 136);
  border: none;
} 

a{
  color: #000;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
 
}
a:hover{
  color: rgb(136, 136, 136);
} 


footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5%;
  position: relative;
  bottom: 0;
  width: 90%;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 5%;
}

.img-card{
  width: 200px;
  border-radius: 4%;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color:rgb(57, 57, 86);
  color: white;
}
.dark > a {
  color: white;
}
